---
layout: default
show_sidebar: false
---
<div class="section-block">
    <h2 id="formation">Formation</h2>

    {% for education in site.data.resume.education %}
    <ul class="section-list">
        <li>
            <p>
                <code>{{ education.startDate | date: "%Y" }} – {{ education.endDate | date: "%Y" }}</code>
                <strong>{{ education.institution }}</strong> - {{ education.studyType }} en {{ education.area }}
            </p>
            <ul class="section-sublist">
                {% for courses in education.courses %}
                <li>{{ courses }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>

<div class="section-block">
    <h2 id="experience">Expérience</h2>

    {% for work in site.data.resume.work %}
    <ul class="section-list">
        <li>
            <p>
                <code>{{ work.startDate | date: "%Y" }} – {{ work.endDate | date: "%Y" }}</code>
                <strong>{{ work.company }}</strong> - {{ work.position }}
            </p>
            <ul class="section-sublist">
                {% for highlights in work.highlights %}
                <li>{{ highlights }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>

<div class="section-block">
    <h2 id="skills">Compétences</h2>

    {% for skill in site.data.resume.skills %}
    <ul class="section-list">
        <li>
            <strong>{{ skill.name }}</strong>
            <ul class="section-sublist">
                {% for keywords in skill.keywords %}
                <li>{{ keywords }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>

<div class="section-block">
    <h2 id="languages">Langues</h2>
    <ul>
        {% for language in site.data.resume.languages %}
        <li>
            <strong>{{ language.language }}</strong> - {{ language.fluency }}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section-block">
    <h2 id="interests">Centres d'intérêt</h2>
    <ul>
        {% for interest in site.data.resume.interests %}
        <li>{{ interest.name }}</li>
        {% endfor %}
    </ul>
</div>

<section class="modal hidden">
    <div class="modal-header">
        <div class="header-close">
            <img src="{{ site.baseurl }}/assets/imgs/close.svg" class="close" alt="X">
        </div>
        <div class="header-controls">
            <img src="{{ site.baseurl }}/assets/imgs/install.svg" class="download" alt="Télécharger">
        </div>
    </div>
    <div id="modal-content"></div>
</section>
<div class="overlay hidden"></div>

<meta name="owner-name" content="{{ site.data.env.owner_name }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ site.baseurl }}/assets/js/career.js" type="text/javascript"></script>