<!doctype html>
{% if page.menubar or page.menubar_toc %}
{% assign has_left_sidebar = true %}
{% endif %}

{% if page.show_sidebar and has_left_sidebar %}
{% assign content_width = 'is-4' %}
{% elsif page.show_sidebar or has_left_sidebar %}
{% assign content_width = 'is-8' %}
{% else %}
{% assign content_width = 'is-12' %}
{% endif %}

<html dir="{{ site.direction | default: 'ltr' }}" lang="{{ site.lang | default: 'en' }}"
    class="{% if site.fixed_navbar %} has-navbar-fixed-{{ site.fixed_navbar }} {% endif %} {% if site.force_theme %} theme-{{ site.force_theme }} {% endif %}">
{% include head.html %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/modal.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/career.css">

<body>
    {% include header.html %}
    {% if page.show_hero %}
    {% include hero.html %}
    {% endif %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% if page.menubar_toc %}
                <div class="column is-4-desktop is-4-tablet">
                    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
                    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
                </div>
                {% elsif page.menubar %}
                <div class="column sidebar is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                    <button id="displayCV" onclick="javascript:void(0)">Voir mon CV</button> 
                </div>
                {% endif %}
                <div class="column {{ content_width }}">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>

    <section class="modal hidden">
        <div class="modal-header">
            <div class="header-close">
                <img src="{{ site.baseurl }}/assets/imgs/close.svg" class="close" alt="X">
            </div>
            <div class="header-controls">
                <img src="{{ site.baseurl }}/assets/imgs/install.svg" class="download" alt="Télécharger">
            </div>
        </div>
        <div id="modal-content"></div>
    </section>
    <div class="overlay hidden"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/parcours.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
</body>

</html>