---
layout: default
show_sidebar: false
---
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/project.css">
<div class="columns is-multiline">
    <div class="column is-12">
        {{ page.content }}
    </div>

    {% for project in site.data.project %}
    <div class="column is-4-desktop is-6-tablet">
        <div class="card">
            <a href="{{ site.baseurl }}/projects/project?owner={{ project.owner }}&repo={{ project.repo }}">
                {% if project.logo %}
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ project.logo }}" alt="{{ project.repo }}">
                    </figure>
                </div>
                {% endif %}
            </a>
            <div class="card-content">
                <h2 class="title is-4">{{ project.repo }}</h2>
                <div class="topics" id="topics-{{ project.owner }}-{{ project.repo | replace: '/', '-' }}"></div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
<script src="{{ site.baseurl }}/assets/js/project-category.js" type="text/javascript"></script>